<% include ../includes/header %>
<div class="container mt-2 pb-4">
    <div class="jumbotron">
        <h1>Campgrounds</h1>
        
        <hr class="my-4">
        
        <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new Campground</a>
    </div>
    <div class=row>
        
        <% campgrounds.forEach(camp => { %>
            <div class="col-md-3 mt-2 mb-4">
                <div class="card text-center p-1">
                    <img class="card-img-top" src="<%= camp.img %>" alt="<%=camp.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%=camp.name %></h5>
                        <a href="/campgrounds/<%= camp.id %>" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>





<% include ../includes/footer %>